<a href="https://colab.research.google.com/github/Vince8459/Dice/blob/master/Questions_Chicago_Crime_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Helpful Material:**

1) https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

2) Helpful function: df.value_counts()

**Learning objective**
*  EDA
*  Getting familiar with datetime operations

In [2]:
# Loading Libraries
import numpy as np
import pandas as pd

# ignoring warnings
import warnings
warnings.filterwarnings("ignore")

In [3]:
#load data
chicago_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Chicago_Crime_Detective.csv")

Use the raw data github link above.

Data Columns details:
1. ID: a unique identifier for each observation.

2. Date: the date the crime occurred.
LocationDescription: the location where the crime occurred.

3. Arrest: whether or not an arrest was made for the crime (TRUE if an arrest was made, and FALSE if an arrest was not made).

4. Domestic: whether or not the crime was a domestic crime, meaning that it was committed against a family member (TRUE if it was domestic, and FALSE if it was not domestic).

5. Beat: the area, or "beat" in which the crime occurred. This is the smallest regional division defined by the Chicago police department.

6. District: the police district in which the crime occured. Each district is composed of many beats, and are defined by the Chicago Police Department.

7. CommunityArea: the community area in which the crime occurred. Since the 1920s, Chicago has been divided into what are called "community areas", of which there are now 77. The community areas were devised in an attempt to create socially homogeneous regions.

8. Year: the year in which the crime occurred.
Latitude: the latitude of the location at which the crime occurred.

**Question 1:** What is the Month and Year of the median date in our dataset? *

Enter your answer as "Month Year", without the quotes.
1. January 2006
2. March 2006
3. May 2006  
4. June 2006

In [11]:
# Write your code here
#checking column names
chicago_data.head()
#chicago_data.columns
chicago_data.describe()

          Unnamed: 0            ID           Beat           Year
count  191641.000000  1.916410e+05  191641.000000  191641.000000
mean    95820.000000  4.968629e+06    1258.810771    2006.134940
std     55322.135806  2.342997e+06     702.530465       3.520285
min         0.000000  1.310022e+06     111.000000    2001.000000
25%     47910.000000  2.832144e+06     722.000000    2003.000000
50%     95820.000000  4.762956e+06    1121.000000    2006.000000
75%    143730.000000  7.201878e+06    1733.000000    2009.000000
max    191640.000000  9.181151e+06    2535.000000    2012.000000

**Question 2:** In which month did the lowest motor vehicle thefts occur? *

1. January
2. February 
3. March
4. April

In [19]:
# Write your code here
chicago_data.head()
chicago_data[("Arrest", "Date")]

KeyError: ignored

**Question 3:** In which month did the highest motor vehicle thefts occur? *

1. September
2. October
3. November
4. December

In [16]:
# Write your code here
chicago_data.columns

Index(['Unnamed: 0', 'ID', 'Date', 'LocationDescription', 'Arrest', 'Domestic',
       'Beat', 'District', 'CommunityArea', 'Year'],
      dtype='object')

**Question 4:** On which day of the week did most motor vehicle thefts occur? 
1. Monday
2. Wednesday
3. Friday 
4. Sunday

In [ ]:
# Write your code here

**Question 5:** Each observation in the dataset represents a motor vehicle theft, and the Arrest variable indicates whether an arrest was later made for this theft. Which month has the largest number of motor vehicle thefts for which an arrest was made? 

1. January  (correct answer)
2. February
3. March
4. April

In [ ]:
# Write your code here

**Question 6:** Select the incorrect statement 
1. It look like crime decreases from 2002 - 2012
2. It look like crime increases from 2005 - 2008
3. It look like crime increases from 2009 - 2011

In [ ]:
# Write your code here

**Question 7:** Crimes for which more arrests were made are in the first half of the time period or the second half of the time period? *
(Note that the time period is from 2001 to 2012, so the middle of the time period is the beginning of 2007.)

1. First half
2. Second half

In [ ]:
# Write your code here

**Question 8:** For what proportion of motor vehicle thefts in 2001 was an arrest made? *
**Note:** In this question, we are asking for an answer as a proportion. Therefore, your answer should take a value between 0 and 1

1. 0.06
2. 0.08
3. 0.10
4. 0.12

In [ ]:
# Write your code here

**Question 9:** Create a subset of your data, only taking observations for which the theft happened in one of the top five locations for motor vehicle thefts, excluding the "Other" category. Call this new data set "Top5". How many observations are in Top5?

1. 177510 
2. 177515
3. 177520
4. 177525

In [ ]:
# Write your code here

**Question 10:** On which day of the week do the most motor vehicle thefts at gas stations happen? *

1. Tuesday
2. Thursday
3. Saturday
4. Sunday

In [ ]:
# Write your code here